.button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;

  background-color: #fff;

  @include hover(box-shadow, #e8e8f066);

  &:hover {
    cursor: pointer;
    box-shadow: 1px 4px 16px #e8e8f066;
  }
  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }
}
