.contacts {
  &__container {
    @include on-tablet {
      @include page-grid;

      align-items: start;
    }
  }

  &__form {
    margin-bottom: 48px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__input {
    height: 48px;
    margin-bottom: 16px;
  }

  &__message {
    height: 148px;
    margin-bottom: 32px;
    vertical-align: top;
  }

  &__input,
  &__message {
    resize: none;

    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    border: none;
    border-radius: 16px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &:hover {
      border: 1px solid #d5d7de;
      &::placeholder {
        color: #292929;
      }
    }
    &:focus {
      outline: none;
    }
  }

  &__block {
    display: grid;
    row-gap: 24px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -2;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: $main-text-color;
    text-decoration: none;
  }
}
