.details {
  &__info {
    @include page-grid;

    row-gap: 16px;
  }

  &__photos {
    grid-column: 1 / -1;

    @include page-grid;

    @include on-tablet {
      &--wide {
        grid-column: span 4;
      }

      &--square {
        grid-column: span 2;
      }
    }

    @include on-desktop {
      &--wide {
        grid-column: span 8;
      }

      &--square {
        grid-column: span 4;
      }
    }
  }

  &__text {
    grid-column: 1 / -1;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include on-desktop {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;

    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &__content {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / span 4;
    }

    @include on-desktop {
      grid-column: 5 / span 4;
    }
  }

  &__container {
    @include page-grid;

    row-gap: 40px;
    justify-items: center;

    @include on-tablet {
      row-gap: 48px;
    }
  }
}
