.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../images/background--img.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  @include on-tablet {
    background-position: center;
  }

  @include on-desktop {
    background-position: right;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 88px;
    }

    @include constent-padding-inline;
  }

  &__title {
    padding-top: 300px;

    font-size: 33px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    text-align: center;

    @include on-tablet {
      padding-top: 190px;
      font-size: 52px;
    }
  }
}
