.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icons/iIcon-phone-call.svg);
    background-size: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--menu {
    background-image: url(../images/icons/iIcon-burger-menu.svg);
    &:hover {
      background-image: url(../images/icons/iIcon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.svg);
  }
}

.bike__logo {
  width: 130px;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 187px;
  }
}
