.main {
  display: grid;
  grid-column: 1 / -1;
  padding-block: 60px;
  background-color: $main-background-color;

  @include constent-padding-inline;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }
}
