.menu {
  box-sizing: border-box;
  height: 100vh;

  font-weight: 600;
  color: $aside-text-color;
  text-transform: uppercase;

  background-color: #c2c2c2;

  &__top {
    padding-bottom: 24px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include constent-padding-inline;
  }

  &__phone-number {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
    line-height: 27px;
    color: inherit;
    text-decoration: none;
  }

  &__test-ride {
    display: block;

    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;

    font-size: 12px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
  }
}
