.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-size: $section-text-size;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &__move {
    margin-bottom: 32px;
    text-align: left;
  }

  &__content {
    margin: 0;
    font-size: 23px;
    font-weight: 500;

    @include on-desktop {
      max-width: 498px;
    }
  }
}
