@import './utils/variables';
@import './utils/mixins';

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/nav';
@import 'blocks/container';
@import 'blocks/section';
@import 'blocks/about-as';
@import 'blocks/section-title';
@import 'blocks/main';
@import 'blocks/product';
@import 'blocks/details';
@import 'blocks/contacts';
@import 'blocks/button';
@import 'blocks/footer';
@import 'blocks/compare-bikes';
